@using Confluent.Kafka
@using System.Threading
@using System.ComponentModel

@implements IDisposable

@inject NavigationManager navigationManager
@inject IUserService UserService

<div>
    <div id="scrollbox">
        @foreach (var item in _messages)
        {
            @if (item.IsNotice)
            {
                <div class="alert alert-info">@item.Body</div>
            }
            else
            {
                <div class="@item.CSS(UserService.CurrentUser?.Username)">
                    <div class="user">@item.Username</div>
                    <div class="msg">@item.Body</div>
                </div>
            }
        }
        <hr />
        <textarea class="input-lg" placeholder="enter your comment" @bind="@_newMessage"  @bind:event="oninput" @onkeyup="ProcessKey"></textarea>
        <button class="btn btn-default" @onclick="@(() => SendAsync())">Send</button>
    </div>
</div>

@code {
    private KafkaConnection<string, ChatMessage> _kafka;

    // new message input
    private string _newMessage;

    // list of messages in chat
    private List<ChatMessage> _messages = new List<ChatMessage>();

    private async Task SendAsync()
    {
        var buffer = _newMessage;
        _newMessage = null;
        await _kafka.ProduceAsync(
            UserService.CurrentUser?.RoomCode,
            new ChatMessage(UserService.CurrentUser?.Username, buffer));
    }

    public async Task ProcessKey(KeyboardEventArgs e) {
        if (!e.ShiftKey && e.Key == "Enter")
        {
            await SendAsync();
        }
    }

    protected override void OnInitialized()
    {
        if (UserService.CurrentUser == null) {
            return;
        }
        _kafka = new KafkaConnection<string, ChatMessage>("group-chat", UserService.CurrentUser.Username, async (result) => {
            try
            {
                if (result.Message.Key == UserService.CurrentUser?.RoomCode) {
                    _messages.Add(result.Message.Value);
                    await InvokeAsync(StateHasChanged);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        });
    }

    private class ChatMessage
    {
        public ChatMessage(string username, string body, bool isNotice = false)
        {
            Username = username;
            Body = body;
            IsNotice = isNotice;
        }

        public string Username { get; set; }
        public string Body { get; set; }

        [DefaultValue(false)]
        public bool IsNotice { get; set; }

        public string CSS(string myUsername) => Username == myUsername ? "sent" : "received";
    }

    public void Dispose()
    {
        _kafka?.Dispose();
    }
}
